
//value

/*
  value
*/
//
$fontSize:12px;
$color:red;
$background:pink;

//define
$value:top;

.bottom-#{$value}{
  position: absolute;
  #{$value}:$fontSize;
}

.main {
  font-size: $fontSize;
  color: $color;
  &:hover{
    color: green;
    background: $background;
  }
}

$px: 5px 10px 15px;
$px1: 10px 15px , 15px 20px , 20px 25px;
$sizes:(m1:10px,m2:20px,m3:25px);

.one {
  font-size: nth($px, 2);
}

.one1{
  font-size: nth(nth($px1, 3), 2);
}

.one2 {
  font-size: map-get($sizes, "m3");
}
