%mi{
  margin: 0;
  padding: 0;
}
h1 {
  width: 100px;
  height: 200px;
  color: red;
}

* {
  @extend %mi;
}
.one {
  line-height: 200px;
  text-align: center;
  @extend h1;
}

.two {
  @extend h1;
  @extend .one;
  background: green;
}
