
@for $i from 1 through 5 {
  .one-#{$i} {
    @if $i == 1 {
      color: red;
      font-size: 12px;
    } @else if $i == 2 {
      color: green;
      background: blue;
    } @else if $i == 3 {
      display: block;
      width: 100px;
    } @else if $i == 4{
      width: 20px;
      height: 300px;
      line-height: 20px;
    } @else {
      color: orange;
    }
  }
}

$px: top 10px red,bottom 5px green,left 2px dashed,right 5px double;
@each $dir,$size,$style,$Color in $px {
  %item-#{$dir}{
    border-#{$dir}:$size $style $Color;
  }
}

$m:(m1:red ,m2:green,m3:pink,m4:purple);
$h1:(h1:10px,h2:30px,h3:20px,h4:50px);

@each $key,$value in $m{
  .two-#{$key}{
    color: $value;
  }
}





//
