@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

.w {
  width: 1300px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

.clearfix::before,
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
/******************沿正方形轨迹运动动画************************/
.Anmt{
  width: 200px;
  height: 200px;
  position: relative;

  /*动画序列名称*/
  animation-name: myanim;
  /*动画执行速度*/
  animation-timing-function: ease-in-out;
  /*动画持续时间*/
  animation-duration: 5s;
  /*动画延时*/
  animation-delay: 0.5s
  /*播放状态*/
  animation-play-state: running;
  /*动画逆播*/
  animation-direction: alternate;
  /*播放次数 (无限次)*/
  animation-iteration-count: infinite;

  /*综合设置方法*/
  /*animation: myanim 5s ease-in-out infinite alternate;*/
  /*-webkit-animation:myanim myanim 5s ease-in-out infinite alternate;*/
}
/*函数*/
@keyframes myanim {
  0%{
    top: 0px;
    left: 0px;
    background: lightyellow;
  }
  25%{
    top: 0px;
    left: 200px;
    background: lightpink;
  }
  50%{
    top: 200px;
    left: 200px;
    background: lightblue;
  }
  75%{
    top: 200px;
    left: 0px;
    background: lightgreen;
  }
  100%{
    top: 0px;
    left: 0px;
    background: lightyellow;
  }
}
/****************波浪****************/

.wavebox {
  height: 748px;
  background-color: #0FA9B1;
  position: relative;
}

.wavebox .sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: 50px;
  left: 100px;
  animation: sun 1s linear infinite alternate;
}

.wavebox .wave{
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

.wavebox .wave .wave-01 {
  width: 100%;
  height: 211px;
  position: absolute;
  bottom: 0px;
  left: 50px;
  background: url("../image/1.png");
  animation: wave1 1s 0.2s linear infinite alternate;
}

.wavebox .wave .wave-02 {
  width: 100%;
  height: 235px;
  position: absolute;
  bottom: -30px;
  background: url("../image/2.png");
  animation: wave2 1s 0.2s linear infinite alternate;
}

@keyframes sun {
  0%{
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0px 0px 20px 15px rgba(255, 255, 255, 0.5);
  }
}

@keyframes wave1 {
  0% {
    bottom: 0px;
  }

  100% {
    bottom: -30px;
  }
}

@keyframes wave2 {
  0% {
    bottom: -30px;
  }

  100% {
    bottom: 0px;
  }
}

/****************小汽车****************/

.car {
  width: 150px;
  height: 60px;
  background: url("../image/car.jpg") no-repeat;
  background-size: 150px 60px;
  transform: translate(50px,350px);
  animation: movecar 5s infinite;
}

@keyframes movecar {
  0% {
    transform: translate(50px,350px) skewX(0deg);
  }

  20% {
    transform: translate(400px,350px) skewX(45deg);
  }

  85%{
    transform: translate(1000px,350px) skewX(-45deg);
  }

  100% {
    transform: translate(1000px,350px) skewX(0deg);
  }
}

/****************滚动图片****************/

.scrollbox {
  border: 1px solid;
  height: 88px;
  width: 630px;
  padding: 5px;
  margin: 50px auto;
  overflow: hidden;
}

.scrollbox ul{
  width: 1512px;
  overflow: hidden;
  animation: scroll 5s linear infinite;
}

.scrollbox ul li{
  width: 126px;
  height: 86px;
  float: left;
}

.scrollbox ul li:nth-child(1){
  background: url("../image/1.jpg") no-repeat;
}

.scrollbox ul li:nth-child(2){
  background: url("../image/2.jpg") no-repeat;
}

.scrollbox ul li:nth-child(3){
  background: url("../image/3.jpg") no-repeat;
}

.scrollbox ul li:nth-child(4){
  background: url("../image/4.jpg") no-repeat;
}

.scrollbox ul li:nth-child(5){
  background: url("../image/5.jpg") no-repeat;
}

.scrollbox ul li:nth-child(6){
  background: url("../image/1.jpg") no-repeat;
}

.scrollbox ul li:nth-child(7){
  background: url("../image/2.jpg") no-repeat;
}

.scrollbox ul li:nth-child(8){
  background: url("../image/3.jpg") no-repeat;
}

.scrollbox ul li:nth-child(9){
  background: url("../image/4.jpg") no-repeat;
}

.scrollbox ul li:nth-child(10){
  background: url("../image/5.jpg") no-repeat;
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-126px);
  }
  40% {
    transform: translateX(-252px);
  }
  60% {
    transform: translateX(-378px);
  }
  80% {
    transform: translateX(-504px);
  }
  100% {
    transform: translateX(-630px);
  }
}


/*************心跳*****************/

.heartbox {
  width: 400px;
  height: 400px;
  margin: 100px auto;
  position: relative;
}

.heartbox:hover{
  animation: heart 1s linear infinite alternate;
}

.heartbox .square{
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
  position: absolute;
  top: 120px;
  left: 100px;
  box-shadow: 0px 0px 50px 10px rgba(255,255,255,0.7);
}

.heartbox .leftcircle,
.heartbox .rightcircle {
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 50px 10px rgba(255,255,255,0.7);
  border-radius: 50%;
  position: absolute;
  top: 50px;
}

.heartbox .leftcircle{
  left: 30px;
}

.heartbox .rightcircle {
  left: 170px;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

/*******************宇宙***********************/
/*水金地火木土天海冥*/

.galaxy{
  width: 1300px;
  height: 748px;
  position: relative;
  margin: 0 auto;
}

.galaxy .sun {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20px,-20px);
  background: url("../image/img/sun.png") no-repeat;
  background-size: 50px 50px;
}

.galaxy .mercury-track,
.galaxy .venus-track,
.galaxy .earth-track,
.galaxy .mars-track,
.galaxy .yunshi,
.galaxy .jupiter-track,
.galaxy .saturn-track,
.galaxy .uranus-track,
.galaxy .pluto-track {
  margin: 5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #555;
  border-radius: 50%;
}
/*水星*/
.galaxy .mercury-track {
  width: 80px;
  height: 80px;
  margin: -36px -36px;
  transform-origin:41px 41px;
  animation: rotation 2.4s linear infinite;
}

.galaxy .mercury-track .mercury{
  width: 25px;
  height: 25px;
  background: url("../image/img/2.png") no-repeat;
  background-size: 25px 25px;
}
/*金星*/
.galaxy .venus-track {
  width: 150px;
  height: 150px;
  margin: -70px -70px;
  transform-origin:75px 75px;
  animation: rotation 6.16s linear infinite;
}
.galaxy .venus-track .venus {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 17px;
  left: 0px;
  background: url("../image/img/3.png") no-repeat;
  background-size: 30px 30px;
}
/*地球*/
.galaxy .earth-track {
  width: 250px;
  height: 250px;
  margin: -120px -120px;
  transform-origin:125px 125px;
  animation: rotation 10s linear infinite;
}

.galaxy .earth-track .earth {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50px;
  left: 0px;
  background: url("../image/img/4.png") no-repeat;
  background-size: 30px 30px;
  animation: rotation 5s linear infinite;
}

.galaxy .earth-track .earth .yue {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 0px;
  background: url("../image/img/sun.png") no-repeat;
  background-size: 10px 10px;
}
/*火星*/
.galaxy .yunshi {
  width: 325px;
  height: 325px;
  border: none;
  background: url("../image/asteroids_meteorids.png") no-repeat center center;
  background-size: 325px 325px;
  margin: -159px -157px;
}
.galaxy .mars-track {
  width: 350px;
  height: 350px;
  margin: -170px -170px;
  transform-origin:175px 175px;
  animation: rotation 10s linear infinite;
}

.galaxy .mars-track .mars {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 97px;
  left: 0px;
  background: url("../image/img/5.png") no-repeat;
  background-size: 25px 25px;
  animation: rotation 19s linear infinite
}
/*木星*/
.galaxy .jupiter-track {
  width: 450px;
  height: 450px;
  margin: -220px -220px;
  transform-origin:225px 225px;
  animation: rotation 118s linear infinite;
}
.galaxy .jupiter-track .jupiter {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 110px;
  left: 0px;
  background: url("../image/img/6.png") no-repeat;
  background-size: 40px 40px;
}
/*土星*/
.galaxy .saturn-track {
  width: 600px;
  height: 600px;
  margin: -295px -295px;
  transform-origin:300px 300px;
  animation: rotation 259s linear infinite;
}

.galaxy .saturn-track .saturn {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 145px;
  left: 0px;
  background: url("../image/img/7.png") no-repeat;
  background-size: 60px 40px;
}
/*天王星*/
.galaxy .uranus-track {
  width: 700px;
  height: 700px;
  margin: -342px -342px;
  transform-origin:350px 350px;
  animation: rotation 840s linear infinite;
}

.galaxy .uranus-track .uranus {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 210px;
  left: 0px;
  background: url("../image/img/8.png") no-repeat;
  background-size: 40px 40px;
}

@keyframes rotation{
    to{
        transform: rotate(360deg);
    }
}

/**************钟表****************/

.clockbox {
  width: 300px;
  height: 300px;
  border: 10px solid;
  border-radius: 50%;
  margin: 100px auto;
  position: relative;
}

.clockbox ul {
  width: 300px;
  height: 300px;
  transform-origin: 150px 150px;
  position: relative;
}

.clockbox ul li {
  width: 10px;
  height: 300px;
  border-left: 8px solid #7F7F7F;
  float: left;
  position: absolute;
}

.clockbox ul li:nth-child(1) {
  transform: rotate(30deg);
  top: 0px;
  left: 140px;
}

.clockbox ul li:nth-child(2) {
  transform: rotate(60deg);
  top: 0px;
  left: 140px;
}

.clockbox ul li:nth-child(3) {
  border-left: 10px solid #7F7F7F;
  transform: rotate(90deg);
  top: 0px;
  left: 140px;
}

.clockbox ul li:nth-child(4) {
  transform: rotate(120deg);
  top: 0px;
  left: 140px;
}

.clockbox ul li:nth-child(5) {
  transform: rotate(150deg);
  top: 0px;
  left: 140px;
}

.clockbox ul li:nth-child(6) {
  border-left: 10px solid #7F7F7F;
  transform: rotate(0deg);
  top: 0px;
  left: 145px;
}

.clockbox .clockmain {
  width: 20px;
  height: 20px;
  border: 115px solid #fff;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 27px;
  left: 27px;
}

.clockbox .clockmain .shi {
  width: 8px;
  height: 80px;
  background: #000;
  position: absolute;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  top: -70px;
  left: 6px;
  transform-origin: bottom center;
  animation: xuanzhuan 43200s linear infinite;
}

.clockbox .clockmain .fen {
  width: 8px;
  height: 100px;
  background: #000;
  position: absolute;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  top: -90px;
  left: 6px;
  transform-origin: bottom center;
  animation: xuanzhuan 3600s linear infinite;
}

.clockbox .clockmain .miao {
  width: 2px;
  height: 130px;
  background: red;
  position: absolute;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  top: -120px;
  left: 9px;
  transform-origin: bottom center;
  animation: xuanzhuan 60s steps(60) infinite ;
}

@keyframes xuanzhuan {
  to{
    transform: rotate(360deg);
  }
}






/******************************************/
