@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

.clearfix::before,
.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

.w {
  width: 1300px;
  margin: 0px auto;
}


/******************** 边框圆角化 ************************/
.w::before {
  content: "CSS 3边框应用";
  font-size: 25px;
  text-align: center;
  width: 1300px;
  height: 30px;
  display: block;
  line-height: 30px;
  margin-top: 20px;
}

.mainbg {
  width: 210px;
  height: 210px;
  float: left;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 20px 20px;
  /*阴影*/
  box-shadow: 3px 3px 5px gray;
  position: relative;
  background-color: #fff;
}

.mainbg::before {
  width: 212px;
  height: 212px;
  text-align: center;
  line-height: 212px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size:20px;
  content: attr(data-item);
  opacity: 0;
  z-index: -1;
  color: #fff;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.mainbg:hover::before{
  opacity: 1;
  z-index: 100;
  background-color: rgba(0,0,0,0.2);
}

.mainbg > .border-radius{
  width: 180px;
  height: 180px;
  margin: 10px auto;
  border: 1px solid red;
  position: relative;
}

.mainbg:nth-child(1) .border-radius {
  /*圆角*/
  border-radius: 50%;
}

.mainbg:nth-child(2) .border-radius {
  /*拱形*/
  border-radius: 50% 50% 0 0;
}

.mainbg:nth-child(3) .border-radius {
  /*半圆*/
  height: 90px;
  margin-top: 50px;
  border-radius: 90px 90px 0px 0px;
}

.mainbg:nth-child(4) .border-radius {
  /*左上圆角*/
  border-top-left-radius: 50%;
}

.mainbg:nth-child(5) .border-radius {
  /*四分之一圆*/
  border-top-left-radius: 100%;
}

.mainbg:nth-child(6) .border-radius {
  /*横椭圆*/
  height: 90px;
  margin-top: 50px;
  border-radius: 180px/90px;
}

.mainbg:nth-child(7) .border-radius {
  /*纵椭圆*/
  width: 90px;
  margin-left: 60px;
  border-radius: 90px/180px;
}

.mainbg:nth-child(8) .border-radius {
  /*上半椭圆*/
  height: 70px;
  margin-top: 65px;
  border-radius: 90px 90px 0px 0px/ 65px 65px 0px 0px;
}

.mainbg:nth-child(9) .border-radius {
  /*左半椭圆*/
  width: 70px;
  margin-left: 65px;
  border-radius: 65px 0px 0px 65px/ 90px 0px 0px 90px;
}

.mainbg:nth-child(10) .border-radius {
  /*四分之一椭圆*/
  width: 70px;
  height: 120px;
  margin: 40px 0px 0px 65px;
  border-radius: 65px 0px 0px 0px/120px 0px 0px 0px;
}

.mainbg:nth-child(11) .border-radius {
  /*圆环*/
  box-sizing: border-box;
  border: 75px solid red;
  border-radius: 100%;
}

.mainbg:nth-child(12) .border-radius {
  /*圆角方框*/
  box-sizing: border-box;
  border: 75px solid red;
  border-radius: 20px;
}

.mainbg:nth-child(13) .border-radius {
  /*左上圆角方框*/
  box-sizing: border-box;
  border: 75px solid red;
  border-top-left-radius: 50%;
}
.mainbg:nth-child(14) .border-radius {
  /*花瓣*/
  box-sizing: border-box;
  border: 75px solid red;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.mainbg:nth-child(15) .border-radius {
  /*上下左右三角*/
  box-sizing: border-box;
  border-left: 90px solid orange;
  border-top: 90px solid red;
  border-right: 90px solid blue;
  border-bottom: 90px solid green;
}
.mainbg:nth-child(16) .border-radius {
  /*上下左三角*/
  box-sizing: border-box;
  border-left: 90px solid orange;
  border-top: 90px solid red;
  border-right: 90px solid rgba(255,255,255,0);
  border-bottom: 90px solid green;
}
.mainbg:nth-child(17) .border-radius {
  /*上下左扇形*/
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 90px solid red;
  border-right: 90px solid rgba(255,255,255,0);;
  border-bottom: 90px solid red;
}
.mainbg:nth-child(18) .border-radius {
  /*右扇形*/
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 90px solid rgba(255,255,255,0);;
  border-left: 90px solid rgba(255,255,255,0);;
  border-right: 90px solid red;
  border-bottom: 90px solid rgba(255,255,255,0);;
}
.mainbg:nth-child(19) .border-radius {
  /*上下半圆*/
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 90px solid red;
  border-bottom: 90px solid green;
}
.mainbg:nth-child(20) .border-radius {
  /*八卦*/
  height: 90px;
  background-color: red;
  border-bottom: 90px solid green;
  border-radius: 50%;
  position: relative;
}

.mainbg:nth-child(20) .border-radius::before,
.mainbg:nth-child(20) .border-radius::after {
  /*八卦左右小圆*/
  content: "";
  width: 20px;
  height: 20px;
  border: 35px solid;
  position: absolute;
  top: 50%;
  border-radius: 50%;
}

.mainbg:nth-child(20) .border-radius::before {
  /*八卦左小圆*/
  border-color: red;
  background-color: green;
  left: 0px;
}

.mainbg:nth-child(20) .border-radius::after{
  /*八卦右小圆*/
  border-color: green;
  background-color: red;
  right: 0px;
}

.mainbg:nth-child(21) .border-radius {
  /*消息块*/
  width: 160px;
  height: 90px;
  background: red;
  border-radius: 10px;
  position: relative;
  margin-top: 60px;
}

.mainbg:nth-child(21) .border-radius::before{
  /*消息块的小三角*/
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-right-color: red;
  position: absolute;
  top: 16px;
  left: -20px;
}


.mainbg:nth-child(22) .border-radius {
  /*不规则1*/
  width: 40px;
  height: 40px;
  margin-top: 40px;
  border-width: 40px 0px 40px 80px;
  border-radius: 0px 0px 60px 0px;
}

.mainbg:nth-child(23) .border-radius {
  /*子弹*/
  width: 90px;
  height: 40px;
  margin-top: 40px;
  border-width: 40px 20px 40px 80px;
  border-radius:40px 70px 70px 40px;
}

.mainbg:nth-child(24) .border-radius {
  /*对话框*/
  width: 150px;
  height: 70px;
  background: red;
  border-radius: 10px;
  position: relative;
  margin-top: 70px;
}

.mainbg:nth-child(24) .border-radius::before{
  /*右消息块*/
  width: 30px;
  height: 30px;
  content: "";
  display: block;
  border-style: solid;
  border-color: red;
  border-width: 0 0 40px 70px;
  border-radius: 0 0 60px 0;
  position: absolute;
  top: 0px;
  right: -20px;
}
