@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

.top-bg {
  width: 1920px;
  height:30px;
  background: #363636;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
a:link , a:visited {
  color: gray;
}

a:hover {
  color: red;
}
a:active {
  color: blue;
}
ul li{
  /*去掉所有项目符号*/
  list-style: none;
}

.top-left-nav {
  float: left;
  width: 300px;
  height: 30px;
  margin-left: 100px;
}
.head-left-nav {
  float: left;
  width: 300px;
  height: 30px;
  margin-left: 140px;
}
.top-right-nav {
  float: left;
  width: 200px;
  height: 30px;
  margin-left: 700px;
}
.top-left-nav li {
  font-size: 14px;
  float: left;
  width: 80px;
  line-height: 30px;
  text-align: center;
}
.head-left-nav li {
  float: left;
  font-size: 12px;
  width: 55px;
  line-height: 30px;
  text-align: center;
}
.top-right-nav li {
  font-size: 14px;
  float: right;
  width: 50px;
  line-height: 30px;
  text-align: center;
}
.photo {
  width: 1920px;
  height: 61px;
  background-color: #fa2b38;
  background-image: url("../images/360.png");
  background-repeat: no-repeat;

  margin: 0 auto;
}

.left-div {
  float: left;
  width: 498px;
  height: 200px;
  padding: 1px;
}
.right-div {
  float: left;
  width: 898px;
  height: 200px;
  background: white;
  padding: 1px;
}

.logo {
  width: 200px;
  height: 80px;
  margin: 60px auto;
  background-image: url("../images/360mal.png");
  background-size: 200px 50px;
  background-repeat: no-repeat;
}

.head {
  width: 1920px;
  height: 202px;
  margin: 0 auto;
}

.box {
  float: left;
  width: 400px;
  height: 50px;
  border: 1px solid green;
  margin-top: 60px;
  margin-left: 150px;
  text-align: left;
  line-height: 50px;
  padding-left: 10px;
}
.box-1 {
  width: 60px;
  height: 50px;
  float: right;
  background-position: center;
  background-image: url("../images/q.png");
  background-color: #1caa43;
  background-repeat: no-repeat;
  background-size: 30px 25px;
}
.but {
  font-size: 12px;
  text-align: center;
  line-height: 50px;
  width: 100px;
  height: 50px;
  float: left;
  background-color: #f9f9f9;
  border: 1px solid #878787;
  margin-top: 60px;
  margin-left: 20px;
}
